.containMe-wBluBg {
    border: 5px solid #000000;
    border-radius: 10px;
    background-color:rgb(152, 176, 221);
}
.goodOldHeader-NumeroUno {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(107, 106, 106);
}
body {
	display: grid;
	place-items: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-color: #000000;
}
p {
	color: #ffffff;
}
button {
	background-color: ffffff;
	border-radius: 6px;
	border: 2px solid #000000;
}
hr {
	border: 5px #ffffff;
}
.goodOldHeader-NumeroDos {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif; 
    color: #000000;
}
.containMe-wWhiteBg {
    border: 5px solid #000000;
    border-radius: 10px;
    background-color: #ffffff;
}
.blackPuno {
    color: #000000;
}
.imgWrap {
	border: 5px solid #000000;
}
.coolio-DivWrap {
	border: 5px solid #030303;
}
